<form id="formID" class="containeEditar">
  <label for="produto_id">ID produto</label><br>
  <input type="number" id="produto_id" name="produto_id" value=><br><br>

  <label for="cliente_id"> ID cliente</label><br>
  <input type="number" id="cliente_id" name="cliente_id" value=""><br><br>

  <label for="vendedor_id">ID vendedor</label><br>
  <input type="number" id="vendedor_id" name="vendedor_id" value=""><br><br>

  <label for="data_pedido">data do pedido</label><br>
  <input type="date" id="data_pedido" name="data_pedido" value=""><br><br>
  <button class="botao" (click)="EditMethod()">Editar Registro</button>
</form>

